.Error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-family: "Montserrat";
    color: #FF6060;   
}
.Error404_code{
    font-size: 288px;
    font-weight: 900 !important;
}
.Error404_message{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 100px;
}
.Error404_link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}



/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .Error404_code{
        font-size: 96px;
    }
    .Error404_message{
        font-size: 18px;
    }
    .Error404_link{
        font-size: 14px;
    }
}

/*MOBILE*/
@media screen and (max-width: 767px){
    .Error404{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px; 
    } 
    .Error404_code{
        font-size: 96px;
    }
    .Error404_message{
        font-size: 18px;
    }
    .Error404_link{
        font-size: 14px;
    }
}