#carousel {
    position: relative;
}
.carousel__image {
    width: 100%;
    margin: -25px 0px 15px 0px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}
.carousel__number {
    display: block;
    position: absolute;
    left: 50%;
    top: 85%;
    font-family: "Montserrat";
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.fa-chevron-left, .fa-chevron-right {
    position: absolute;
    top: 44%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.fa-chevron-left{
    left: 20px;
}
.fa-chevron-right{
    right: 20px;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .carousel__image {
        margin: 10px 0px 15px 0px;
        height: 370px;
    }
    .carousel__number {
        top: 87%;
        font-size: 15px;
    }
    .fa-chevron-left, .fa-chevron-right {
        top: 48%;
        font-size: 35px;
    }
    .fa-chevron-left{
        left: 15px;
    }
    .fa-chevron-right{
        right: 15px;
    }
}

/*MOBILE*/
@media screen and (max-width: 767px){ 
    .carousel__image {
        margin: 10px 0px 15px 0px;
        height: 225px;
        border-radius: 10px;
    }
    .carousel__number {
        display: none;
    }
    .fa-chevron-left, .fa-chevron-right {
        top: 45%;
        font-size: 20px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .fa-chevron-left{
        left: 10px;
    }
    .fa-chevron-right{
        right: 10px;
    }
}

