
.logement__title{
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 500;
}
.logement__location{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
}


/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    
}

/*MOBILE*/
@media screen and (max-width: 767px){ 
    .logement__title{
        font-size: 18px;
    }
    .logement__location{
        font-size: 14px;
    }
}