.info__collapse {
    margin-bottom: 0px;
    width: 48%;
}
.collapse__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #FF6060;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
details[open] .collapse__title .fa-chevron-down {
    transform: rotate(-180deg);
}
.collapse__text {
    background-color: #f6f6f6;
    padding: 20px 10px 20px 20px;
    border-radius: 0px 0px 10px 10px ;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    color: #FF6060;
    list-style: none;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .info__collapse {
        margin-top: 5px;
        width: 49%;
    }
    .collapse__title {
        font-size: 16px;
        padding: 10px 10px 10px 10px;
    }
    .collapse__text {
        font-size: 15px;
        padding: 10px 10px 10px 10px;
    }
}

/*MOBILE*/
@media screen and (max-width: 767px){ 
    .info__collapse {
        margin-top: 25px;
        width: 100%;
    }
    .collapse__title {
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
    }
    .collapse__text {
        font-size: 14px;
        padding: 10px 10px 10px 10px;
        border-radius: 0px 0px 5px 5px ;
    }
}