.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 209px;
    margin: 50px -50px 0px -50px;
    padding: 66px 0px 29px 0px;
    background-color: black;
    color: white;
    align-items: center;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
}
.logo_blanc{
    width: 122px;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 991px){ 
    .footer{
        font-size: 24px;
        margin: 50px -35px 0px -35px;

    }
}

/*MOBILE*/
@media screen and (max-width: 767px){ 
    .footer{
        font-size: 12px;
        padding: 62px 0px 62px 0px;
        margin: 50px -20px 0px -20px;

    }
}

